.form_block {
	width: 360px;
	float: right;
	font-size: 14px; text-align: left;
}
.form_block hr {
	width: 100%; height: 15px;
	background: transparent; border: none;
	margin-bottom: 15px;
	border-bottom: 3px solid #e3e3e3;
}
/*Form name*/
.form_name {
	width: 100%;
	float: left;
	margin-bottom: 3px;
	color: #2e2e2e; font-size: 14px;
}
.form_name > em, 
.form_name > strong	{
	color: #d24d33; font-weight: normal;
}
.error_message 
{
	font-size: 14px;
	color: #d24d33;
	font-style: italic;
}
#reg_form {
	float: left;
	margin: 0 190px;
}
.form_info {
	width: 100%;
	float: left;
}
.form_info a {
	display: inline-block; margin-right: 10px;
	color:#136eb0; text-decoration:none;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.form_info a:hover {
	color: #3f9cde; text-decoration:underline;
}

/*INPUT*/
.input,
.login_input,
.textarea {
	width: 338px; height: 28px;
	float: left;
	padding: 0 10px; margin-bottom: 10px;
	background: #FFF; border: 1px solid #b4b4b4;
	color: #2e2e2e; line-height: 28px;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
/*login input*/
.login_input {
	width: 368px;
}
/*--INPUT END*/


/*TEXTAREA--*/
.textarea {
	height: 128px;
	overflow: hidden; resize: none;
	padding: 10px;
	line-height: 18px;
}
/*--TEXTAREA END*/


/*CAPCHA--*/
.capcha {
	float: left;
}
.capcha img {
	width: 90px; height: 30px;
	float: left;
	margin-right: 10px;
}
.capcha .input {
	width: 68px;
	text-align: center; letter-spacing: 5px;
}
/*--CAPCHA END*/


/*INPUT HOVER AND ERROR--*/
.login_input#error,
.input#error,
.textarea#error {
	border-color: #d24d33;
}
.login_input:hover,
.login_input#error:hover,
.input:hover,
.input#error:hover,
.textarea:hover,
.textarea#error:hover {
	border-color: #3f9cde;
}
/*--INPUT HOVER AND ERROR END*/


/*BUTTON--*/
.button,
.login_button > input {
	height: 30px;
	display: inline-block; float: right;
	padding: 0 20px;
	background: #327796; border: none;
	color: #FFF; font-size: 13px; text-decoration: none; text-transform: uppercase; line-height: 30px; cursor: pointer;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.button:hover {
	background: #40ca82;
}
/*login button*/
.login_button {
	width: 100%;
	float: left;
}
.login_button > .button {
	float: none;
}
/*file button*/
#file_button {
	height: 36px;
	float: left;
	margin-left: 20px;
	line-height: 36px;
}
/*--BUTTON END*/


/*CHECKBOX & RADIO--*/
.ui-helper-hidden-accessible {
	position: absolute; left: -999em;
}
.checkbox,
.radio {
	width:100%;
	float:left;
	margin-bottom: 10px;
}		
.checkbox span,
.radio span {
	float:left; display:block;
	margin-left:5px;
	color:#3d3d3d; font-size:13px; line-height:18px;
}
.checkbox label,
.radio label {
	width:14px; height:14px;
	float:left; display:inline-block;
	margin-top:1px;
	background: url(../images/checkbox.png) no-repeat;
	cursor:pointer;
}
.checkbox a,
.radio a {
	color: #136eb0; text-decoration: none;
}
.checkbox a:hover,
.radio a:hover {
	text-decoration: underline;
}
/*Checkbox*/
.checkbox label {
	background-position: top left;
}
.checkbox label.ui-checkbox-hover {
	background-position: left -14px;
}
.checkbox label.ui-checkbox-checked:hover {
	background-position: left -28px;
}						
.checkbox label.ui-checkbox-checked {
	background-position: left -42px;
}			
/*--Other Checkbox*/
#modal_checkbox {
	width:auto;
	position:absolute; bottom:9px; right:0;
	margin: 0px;
}	
#modal_checkbox span {
	float:right; 
}
#login_checkbox {
	width:auto;
	display: inline-block; float: right;
	margin: 0px;
}	
/*--CHECKBOX & RADIO END*/


/*INPUT FILE--*/	
.input_file_block {
	width: 100%;
	float: left;
	margin: 2px 0 14px;
}
.input_file {
	width: 150px; height: 36px;
	float: left; position: relative; overflow: hidden;
	cursor: pointer;
}
.input_file input {
	width: 150px; height: 36px;
	float: right; position: absolute; z-index: 10; top: 0px; left: 0px;
	margin: 0px;
	border: none;
	font-size: 50px; cursor: pointer;
	opacity: 0; -moz-opacity: 0; filter:alpha(opacity: 0);	
}	
.input_file #text {
	width: 100%; height: 36px;
	display: block; position: absolute; z-index: 1; top: 0px; left: 0px;
	background: #4a4a4a;
	color: #FFF; line-height: 36px; font-size: 13px; text-align: center; cursor: pointer;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}		
.input_file #text.upload_true,
.input_file:hover #text {
	background-color: #0b79c6;
}
/*exit button*/
#exit_button {
height: 35px;
padding: 0 15px; margin-left: 10px;
background-color: #ea5f3e;
font-size: 11px; line-height: 35px;
}
#exit_button:hover {
background-color: #d23e1a;
}
#card_buy {
	float: none;
}
#click_buy {
	float: none;
	margin-left: 20px;
	background-color: #0b79c6;
}
#click_buy:hover {
	background-color: #2c98e4;
}
/*--INPUT FILE END*/