/*LEFT MENU--*/
.left_menu {
	width: 100%;
	display: block; float: left;
}
.left_menu > li {
	width: 100%;
	float: left; position: relative;
	list-style: none;
}
.left_menu > li a {
	width: 160px;
	display: block; float: left;
	padding: 12px 10px 12px 30px;
	background: #FFF url(../images/menu/left_menu_dot.png) no-repeat left center;
	color: #2e2e2e; cursor: pointer; font-size: 12px; text-decoration: none; text-transform: uppercase; text-align: left;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.left_menu > li#gray > a,
.left_menu > li#gray > div > a {
	background-color: #f7f7f7;
}
.left_menu li:hover > a,
.left_menu li#gray:hover > a,
.left_menu li:hover > div > a,
.left_menu li#gray:hover > div > a,
.left_menu li.active > div > a,
.left_menu li#gray.active > div > a,
.left_menu ul.panel > li:hover a {
	text-indent: 5px;
	background: #08ae69 url(../images/menu/left_menu_dot_hover.png) no-repeat left center;
	color: #FFF;
}
.left_menu > li > div {
	float: left;
}
/*Sub Link*/
.left_menu ul.panel {
	width: 200px;
	float: left;
	list-style: none;
}
.left_menu ul.panel li {
	width: 100%;
	float: left;
	border-bottom: 1px solid #08ae69;
}
.left_menu ul.panel a {
	background: #40ca82 url(../images/menu/left_menu_dot_hover.png) no-repeat left center;
	color: #FFF; font-size: 13px; text-transform: none;
}
.loading {
    display: none;
    }
/*--LEFT MENU END*/


/*HUBS--*/
.hubs {
	width: 720px;
	float: left;
	padding: 0 10px;
}
.hubs > a {
	width: 340px; height: 80px;
	display: block; float: left;
	margin: 0 10px;
	text-decoration: none;
}
.hubs > a > span {
	width: 80px; height: 80px;
	display: block; float: left;
	background: url(../images/icons/hubs_ico.png) no-repeat;
}
.hubs > a > div {
	width: 260px; height: 80px;
	float: left;
	color: #FFF; font-size: 24px; text-transform: uppercase; text-align: center; line-height: 80px;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
/*blue*/
.hubs > #blue > span {
	background-position: top left; background-color: #3f9cde;
}
.hubs > #blue > div {
	background-color: #0b79c6;
}
.hubs > #blue:hover > div {
	background-color: #3f9cde;
}
/*virid*/
.hubs > #virid > span {
	background-position: bottom left; background-color: #40ca82;
}
.hubs > #virid > div {
	background-color: #08ae69;
}
.hubs > #virid:hover > div {
	background-color: #40ca82;
}
/*--HUBS END*/


/*FOOTER MENU--*/
.footer_menu {
	width: 100%;
	float: left;
}
.footer_menu > li {
	float: left;
	margin-bottom: 18px;
	list-style: none; text-align: left;
}
.footer_menu > li > a {
	width: 145px;
	display: block; float: left;
	padding-left: 15px;
	background: url(../images/menu/footer_menu_dot.png) no-repeat left center;
	color: #e3f3ff; font-size: 12px; text-decoration: none; text-transform: uppercase;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.footer_menu > li > a:hover {
	background: url(../images/menu/footer_menu_dot_hover.png) no-repeat left center;
	color: #FFF;
}
/*--FOOTER MENU END*/