/*TIMER--*/
.timer_block {
	width: 300px;
	/*float: left;*/
	padding-left: 2px;
}
.timer_block #timer_text {
	width: 100%;
	/*float: left;*/
	margin-top: 10px;
	color: #d03e11; font-size: 12px; text-transform: uppercase;
}

.dash {
	/*width: 28px; height: 50px;*/
	float: left; position: relative;
	padding: 5px 10px;
	border-right: 1px solid #f0f0f0;
	text-align: center;
}
.seconds_dash {
	border: none;
}
.dash .digit {
	/*width: 14px;*/
	color:#2e2e2e; font-size: 18pt;
	float: left; position: relative;
}
.dash_title {
	width: 100%;
	display: block; 
	color:#aaaaaa; font-size: 8pt; letter-spacing: 0px;
}
/*Test timer*/
#test_timer {
	width: 100%;
	padding: 0px; margin-bottom: 10px;
}
#test_timer #timer_text {
	margin: 0px;
}
/* #test_timer #timer_fixer {
	width: 168px;
}
#test_timer .dash {
	width: 36px;
	border: none;
}
#test_timer .digit {
	width: 18px;
	font-size: 22pt;
} */
/*--TIMER END*/


