/*Card Block*/
#profile_card_block {
	margin-top: 20px;
}
/*NEWS PAGES--*/
#news_block > hr {
	width: 100%; height: 25px;
	background: transparent; border: none;
}
#news_block > #news_date {
	width: 100%;
	display: block; float: left;
	margin-bottom: 20px;
	color: #828282; font-size: 13px; text-align: center;
}

/*Last News--*/
.last_news_block {
	width: 100%;
	float: left;
}
.last_news_block > #all_news {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.last_news_block > #all_news > a {
	height: 30px;
	display: inline-block;
	padding: 0 20px;
	background: #08ae69;
	color: #FFF; font-size: 13px; text-decoration: none; text-transform: uppercase; line-height: 30px;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.last_news_block > #all_news > a:hover {
	background: #40ca82;
}

/*News Card--*/
.news_card {
	width: 222px;
	float: left;
	padding: 4px 4px 14px;
	background: #FFF;
	text-align: center;
	-moz-box-shadow:0 1px 1px 0 #dadada; -webkit-box-shadow:0 1px 1px 0 #dadada; box-shadow:0 1px 1px 0 #dadada;
	behavior: url(plugins/pie/PIE.php);
	height: 272px;
}
.news_card#with_margin {
	margin: 0 25px;
}
/*photo*/
.news_card > #photo {
	width: 222px; height: 160px;
	float: left;
	border: none;
}
/*title*/
.news_card > #title {
	width: 100%;
	display: block; float: left;
	margin: 10px 0;
	font-size: 14px; font-weight: normal;
}
.news_card > #title > a {
	display: block;
	color: #2e2e2e; text-decoration: none; line-height: 26px;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.news_card > #title > a:hover {
	color: #136eb0;
}
/*date*/
.news_card > #date {
	width: 100%;
	float: left;
	color: #b9b9b9; font-size: 13px;
}
/*--NEWS PAGES*/


/*PROFILE PAGES--*/
#profile_block > #photo {
	width: 200px; height: 200px;
	float: left;
	background: #FFF; border: 4px solid #FFF;
	-moz-box-shadow:0 1px 1px 0 #dadada; -webkit-box-shadow:0 1px 1px 0 #dadada; box-shadow:0 1px 1px 0 #dadada;
	behavior: url(plugins/pie/PIE.php);
}
#profile_block > #photo > img {
	width: 200px; height: 200px;
	border: none;
}
#profile_block > #info {
	width: 512px;
	float: right;
}
#profile_block #user_top_photo {
	width: 50px; height: 50px;
	position: relative;
	border: none;
	border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px;
	behavior: url(plugins/pie/PIE.php);
}

/*Top User Panel*/
.top_user_panel {
	float: right;
	padding: 8px;
	background: #FFF;
	color: #2e2e2e; font-size: 13px;
	-moz-box-shadow:0 1px 1px 0 #dadada; -webkit-box-shadow:0 1px 1px 0 #dadada; box-shadow:0 1px 1px 0 #dadada;
	behavior: url(plugins/pie/PIE.php);
}
.top_user_panel img {
	width: 35px; height: 35px;
	float: right;
	border: none;
	border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px;
	behavior: url(plugins/pie/PIE.php);
}
.top_user_panel #name {
	float: right;
	margin-right: 10px;	
	text-align: right;
}
.top_user_panel #name a {
	color: #136eb0; text-decoration: none;
}
.top_user_panel #name a:hover {
	text-decoration: underline;
}
.top_user_panel #info {
	float: right;
	padding-right: 15px; margin-right: 15px;
	border-right: 1px solid #d9d9d9;
	color: #c1c1c1; text-align: left
}
.top_user_panel #info strong {
	color: #818181; font-weight: normal;
}
/*--PROFILE PAGES END*/


/*TEST--*/
.test_tabs {
	width: 100%;
	float: left;
}
/*Test navi*/
.test_navi {
	width: 100%;
	float: left;
	list-style: none;
}
.test_navi > li {
	width: 30px; height: 30px;
	display: block; float: left;
	margin: 12px 5px 3px;
	background-color: #fff;
	color: #2e2e2e; font-size: 14px; text-decoration: none; line-height: 30px; cursor: pointer;
	border-radius: 70px; -webkit-border-radius: 70px!important; -moz-border-radius: 70px!important;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
	behavior: url(plugins/pie/PIE.php);
	text-align: center;
	// padding-left: 10px;
}
.test_navi > li:hover,
.test_navi > li.vr_end:hover,
.test_navi > li.current:hover,
.test_variants li a:hover div,
.test_variants li#vr_selected a:hover div {
	background-color: #97C6D6;
	color: #FFF;
}
.test_navi > li.vr_end,
.test_variants li#vr_selected div,
.test_variants #vr_ok div {
	background-color: #307293;
	color: #FFF;
}
.test_navi > li.current,
.test_variants #vr_error div {
	background-color: #ea5f3e;
	color: #FFF;
}


/*Test title*/
.test_title {
	width: 100%;
	display: block; float: left;
	margin-bottom: 20px;
	color: #2e2e2e; font-size: 16px; font-weight: normal; text-align: left; vertical-align: middle;
}
.test_title > span {
	width: 28px; height: 28px;
	display: inline-block; position: relative;
	margin-right: 10px;
	background-color: #ea5f3e;
	color: #FFF; font-size: 14px; text-decoration: none; text-align: center; vertical-align: middle; line-height: 28px; 
	border-radius: 70px!important; -webkit-border-radius: 70px!important; -moz-border-radius: 70px!important;
	behavior: url(plugins/pie/PIE.php);
}
.test_title > div {
	/*width: 676px;*/
	display: inline-block;
	vertical-align: middle; line-height: 24px;
}


/*Test variants*/
.test_variants {
	width: 100%;
	display: block; float: left;
	text-align: left; list-style: none;
	border-top: 1px solid #f0f0f0;
}
.test_variants li {
	width: 700px;
	float: left;
	padding: 10px;
	border-bottom: 1px solid #f0f0f0;
	vertical-align: middle;
}
.test_variants li a {
	width: 100%;
	display: block;
	cursor: pointer;
}
.test_variants li div {
	width: 30px; height: 30px;
	display: inline-block; position: relative;
	margin-right: 10px;
	background-color: #f4f4f4;
	color: #2e2e2e; font-size: 18px; text-decoration: none; text-transform: uppercase; text-align: center; vertical-align: middle; line-height: 30px;
	border-radius: 70px!important; -webkit-border-radius: 70px!important; -moz-border-radius: 70px!important;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
	behavior: url(plugins/pie/PIE.php);
}
.test_variants li span {
	/* width: 660px; */
	display: inline-block;
	color: #2e2e2e; 
	/* font-size: 14px; vertical-align: middle; */
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.test_variants li:hover span {
	color: #136eb0;
}
.test_variants #vr_ok span,
.test_variants #vr_error span {
	width: 640px;
}
.test_variants #vr_ok {
	background: #f7fffb url(../images/icons/answer_ok_ico.png) no-repeat right center; border-color: #40ca82;
}
.test_variants #vr_error {
	background: #fef7f5 url(../images/icons/answer_error_ico.png) no-repeat right center; border-color: #ea5f3e;
}

/*Test info*/
.test_info {
	width: 720px;
	float: left;
	padding: 15px 10px; margin-bottom: 20px;
	background: #FFF;
	-moz-box-shadow:0 1px 1px 0 #dadada; -webkit-box-shadow:0 1px 1px 0 #dadada; box-shadow:0 1px 1px 0 #dadada;
	behavior: url(plugins/pie/PIE.php);
}

/*Test count*/
.test_count {
	width: 100%;
	float: left;
}
.test_count div {
	display: inline-block;
	padding: 5px 10px;
	background: #4a4a4a;
	color: #FFF; font-size: 14px;
	border-radius: 60px; -webkit-border-radius: 60px; -moz-border-radius: 60px;
	behavior: url(plugins/pie/PIE.php);
}

/*Answer icons*/
.result_answer {
	width: 26px; height: 26px; 
	position: relative;
	background: url(../images/icons/answer_ico.png) no-repeat;
	border-radius: 60px; -webkit-border-radius: 60px; -moz-border-radius: 60px;
	behavior: url(plugins/pie/PIE.php);
}
.result_answer#yes {
	background-color: #08ae69; background-position: center left; 
}
.result_answer#no {
	background-color: #ea5f3e; background-position: top left; 
}
.result_answer#lock {
	background-color: #4a4a4a; background-position: bottom left; 
}
/*--TEST END*/

/*table*/
.portlet-body table {
	width: 100%;
	margin-bottom: 20px;
	border-left: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3;
}
.portlet-body td {
	padding: 8px;
	background: #FFF; /*border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3;*/
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.portlet-body td:hover {
	background: #f6fafc; border-bottom-color: #0b79c6;
}
table#manual_table,
table#academy_table  {
	border-top: none;
	margin: 0px;
}
table#academy_table {
	border-top: none;
}
table#academy_table thead td {
	font-size: 11px; font-weight: normal; line-height: normal;
}
.portlet-body thead td {
	background-color: #97C6D6;
	color: #3A4F56; font-weight: bold;
}
.portlet-body thead td:hover {
	background-color: #97C6D6; border-color: #08ae69;
}
.test_tabs .test_box{
	display: none;
}
.test_tabs .visible{
	display: block !important;
}
