/*MAIN SETTING--*/
body, h1, h2, h3, h4, h5, hr, table, input, textarea, form, ul, ol, li, p {
	margin:0px; padding:0px; font-family: 'PT Sans'; color:#1e1e1e;
}
h1, h2, h3, h4, h5, {
	font-size: 14px;
}	
body {
	height: 100%;
	background:#f2f2f2;
}	
.main_div {
	width:100%;
	float:left;
}	
.fixer_div {
	width:960px;
}
.basic_block {
	width: 100%;
	float: left;
}
::selection {
	background:#40ca82;
	color:#FFF;
	text-shadow: none;
}
::-moz-selection {
	background:#40ca82;
	color:#FFF;
	text-shadow: none;
}
/*--MAIN SETTING END*/


/*TITLE*/
.title {
	width: 100%;
	display: block; float: left;
	margin-bottom: 20px;
	color: #136eb0; font-weight: normal; text-transform: uppercase; text-align: center;
}
.title#main {
	font-size: 24px;
}
.title#page {
	font-size: 18px;
}
/*--TITLE END*/


/*TOP PANEL--*/
.top_panel {
	width: 100%;
	float: left;
}

/*Search--*/
.search_block {
	width: 248px;
	float: left;
	background: #FFF; border: 1px solid #e3e3e3;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
#profile_search {
	margin-top: 10px;
}
.search_block #text {
	width: 218px; height: 28px;
	float: left;
	background: transparent; border: none;
	color: #6f6f6f; font-size: 14px; text-indent: 10px; line-height: 28px;
}
.search_block #button {
	width: 30px; height: 28px;
	float: left;
	background: url(../images/icons/search_ico.png) no-repeat center; border: none;
	cursor: pointer;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.search_block:hover {
	border-color: #3f9cde;
} 
.search_block #text:hover {
	color: #2e2e2e;
}
.search_block #button:hover {
	background: #3f9cde url(../images/icons/search_ico_hover.png) no-repeat center;
}
/*--Search End*/

/*Top Links--*/
.top_links {
	float: right;
}
.top_links > a {
	display: block; float: right;
	font-size: 13px; text-decoration: none; text-transform: uppercase;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.top_links > #login_link {
	height: 30px;
	padding: 0 20px;
	background: #08ae69;
	color: #FFF; line-height: 30px;
}
.top_links > #reg_link {
	margin: 7px 20px 0 0;
	color: #2e2e2e;
}
.top_links > #login_link:hover {
	background: #40ca82;
}
.top_links > #reg_link:hover {
	color: #3f9cde;
}
/*--TOP PANEL END*/


/*LEFT BLOCK--*/
.left_block {
	width: 200px;
	float: left;
	margin-right: 20px;
}
/*Left Panel*/
.left_panel {
	width: 100%;
	float: left;
	padding: 20px 0; margin-bottom: 20px;
	background: #FFF;
	-moz-box-shadow:0 1px 1px 0 #dadada; -webkit-box-shadow:0 1px 1px 0 #dadada; box-shadow:0 1px 1px 0 #dadada;
	behavior: url(plugins/pie/PIE.php);
}
.left_panel > hr {
	width: 100%; height: 1px;
	float: left;
	margin: 15px 0px;
	background: #f0f0f0; border: none;
}
/*Logo*/
.top_logo {
	width: 100%; height: 90px;
	float: left;
	background: url(../images/logo.png) no-repeat center;
}
/*Timer*/

/*Video*/
.video {
	width: 200px; height: 130px;
	display: block; float: left;
	margin-bottom: 20px;
	background: #FFF;
	text-decoration: none; cursor: pointer;
	-moz-box-shadow:0 1px 1px 0 #dadada; -webkit-box-shadow:0 1px 1px 0 #dadada; box-shadow:0 1px 1px 0 #dadada;
	behavior: url(plugins/pie/PIE.php);
}
.video img {
	width: 192px; height: 122px;
	float: left;
	margin: 4px;
	border: none;
}

/*Like Box*/
.like_box {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
/*--LEFT BLOCK END*/


/*RIGHT BLOCK--*/
.right_block {
	width: 740px;
	float: left;
	padding-top: 20px;
}

/*Gray Line*/
.gray_line {
	width: 100%; height: 4px;
	float: left;
	margin: 20px 0;
	background: #e3e3e3; border: none;
}

/*--RIGHT BLOCK END*/


/*TOP USERS--*/
.top_users_block {
	width: 100%;
	float: left;
}
.top_users_block > hr {
	width: 100%; height: 1px;
	float: left;
	background: #e3e3e3; border: none;
}
.topUser {
	width: 184px;
	float: left;
	padding: 15px 0;
	font-size: 15px; text-align: center;
}
/*photo*/
.topUser > #photo {
	width: 100px; height: 100px;
	float: left; position: relative; overflow: hidden;
	padding: 5px 7px 9px; margin: 0 35px 10px;
	background: url(../images/topUser_default.png) no-repeat center top;
}
.topUser > #photo > img {
	width: 100px; height: 100px;
	float: left; position: relative; z-index: 1;
	border: none;
}
.topUser > #photo > div {
	width: 114px; height: 114px;
	position: absolute; top: 0px; left: 0px; z-index: 2;
	background: url(../images/userPhoto.png) no-repeat top left;
}
/*winner user*/
.geniusUser > #photo > div {
	background-position: bottom left;
}
/*name*/
.topUser > #name,
.topUser > #point {
	width: 100%;
	float: left;
	color: #3d3d3d;
}
/*point*/
.topUser > #point {
	color: #136eb0;
	margin-top: 10px;
}

/*border*/
.top_users_block > #right_border {
	border-right: 1px solid #e3e3e3;
	background: url(../images/topUser_glow_right.png) no-repeat bottom right;
}
.top_users_block > #left_border {
	border-left: 1px solid #e3e3e3;
	background: url(../images/topUser_glow_left.png) no-repeat top left;
}
/*--TOP USERS END*/


/*FOOTER--*/
.footer {
	width: 100%;
	float: left;
	padding-top: 20px;
	background: #0b79c6;
}
.footer #footer_right {
	width: 480px;
	float: right;
}

/*map*/
.footer > #map {
	width: 190px; height: 166px;
	float: left;
	margin: 0 20px;
	background: #0062a7;
}

/*contacts*/
.footer > #contacts {
	width: 210px;
	display: block; float: left;
	text-align: left; list-style: none;
}
.footer > #contacts > li {
	width: 100%;
	display: block; float: left;
	background: url(../images/icons/contact_ico_bg.png) no-repeat left;
	color: #FFF; font-size: 13px; line-height: 22px;
}
.footer > #contacts > li > div {
	width: 154px; height: 44px;
	padding-left: 56px;
	display: block; float: left;
}
.footer > #contacts > li > div > span {
	color: #042944;
}
.footer > #contacts > #adress > div {
	background: url(../images/icons/contact_adress_ico.png) no-repeat left;
}
.footer > #contacts > #phone > div {
	background: url(../images/icons/contact_phone_ico.png) no-repeat left;
	line-height: 44px;
}
.footer > #contacts > #phone {
	margin: 17px 0;
}
.footer > #contacts > #mail > div {
	background: url(../images/icons/contact_mail_ico.png) no-repeat left;
	line-height: 44px;
}

/*subscribe*/
.subscribe {
	width: 100%;
	float: left;
}
.subscribe > div {
	width: 100%;
	float: left;
	margin-bottom: 5px;
	color: #9bccee; font-size: 13px; text-align: left;
}
.subscribe #text {
	width: 360px; height: 40px;
	float: left;
	padding: 0 10px;
	background: #0062a7; border: none;
	color: #e3f3ff; font-size: 13px; line-height: 40px;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.subscribe #button {
	width: 80px; height: 40px;
	float: left;
	background: #3f9cde; border: none;
	color: #d4edff; font-size: 13px; text-transform: uppercase; line-height: 40px; cursor: pointer;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.subscribe #text:hover {
	color: #FFF;
}
.subscribe #button:hover {
	background: #57b9ff;
	color: #FFF;
}

/*copyright*/
.footer > #copyright {
	width: 100%;
	float: left;
	padding: 15px 0; margin-top: 20px;
	background: #0062a7;
	color: #8ab5d4; font-size: 13px; text-align: center;
}
/*--FOOTER END*/


/*NAVIGATOR--*/
.navigator {
	width: 100%;
	float: left;
	color: #828282; font-size: 13px; text-align: left;
}
.navigator > a {
	display: inline-block;
	text-decoration: none; cursor: pointer;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}

/*Breadcrumbs*/
#breadcrumbs > a {
	color: #136eb0; 
}
#breadcrumbs > a:hover {
	text-decoration: underline;
}
#breadcrumbs > div {
	display: inline-block;
	margin: 0 5px;
}
#breadcrumbs > span {
	display: inline-block;
}

/*page navigator*/
#page_navigator {
	font-size: 14px; text-align: center; line-height: 30px;
}
#page_navigator > a {
	width: 30px; height: 30px;
	float: left;
	margin-right: 8px;
	background: #FFF;
	color: #2e2e2e;
	border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px;
	-moz-box-shadow:0 1px 1px 0 #dadada; -webkit-box-shadow:0 1px 1px 0 #dadada; box-shadow:0 1px 1px 0 #dadada;
	behavior: url(plugins/pie/PIE.php);
}
#page_navigator > a:hover {
	background: #3f9cde;
	color: #FFF;
}
#page_navigator > strong {
	width: 30px; height: 30px;
	display: inline-block; float: left;
	margin-right: 8px;
	background: #0b79c6;
	color: #FFF; font-weight: normal;
	border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px;
	-moz-box-shadow:0 1px 1px 0 #dadada; -webkit-box-shadow:0 1px 1px 0 #dadada; box-shadow:0 1px 1px 0 #dadada;
	behavior: url(plugins/pie/PIE.php);
}
/*first*/
#page_navigator > a#first {
	background: #FFF url(../images/icons/nav_first.png) no-repeat center;
}
#page_navigator > a#first:hover {
	background: #3f9cde url(../images/icons/nav_first_hover.png) no-repeat center;
}
/*prev*/
#page_navigator > a#prev {
	background: #FFF url(../images/icons/nav_prev.png) no-repeat center;
}
#page_navigator > a#prev:hover {
	background: #3f9cde url(../images/icons/nav_prev_hover.png) no-repeat center;
}
/*next*/
#page_navigator > a#next {
	background: #FFF url(../images/icons/nav_next.png) no-repeat center;
}
#page_navigator > a#next:hover {
	background: #3f9cde url(../images/icons/nav_next_hover.png) no-repeat center;
}
/*last*/
#page_navigator > a#last {
	background: #FFF url(../images/icons/nav_last.png) no-repeat center;
}
#page_navigator > a#last:hover {
	background: #3f9cde url(../images/icons/nav_last_hover.png) no-repeat center;
}
/*--NAVIGATOR END*/


/*CONTENT--*/
.content {
	width: 100%;
	float: left;
	color: #000;  font-size: 14px; text-align: left; line-height: 24px;
}
#mini_content {
	width: 360px;
}
#align_center {
	text-align: center;
}
/*titles*/
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	color: #136eb0;  text-align: left;
}
.content h1 {
	font-size: 16px;
}
.content h2 {
	font-size: 15px;
}
.content h3, .content h4, .content h5, .content h6 {
	font-size: 14px;
}

/*p*/
.content p {
	margin-bottom: 15px; 
}
.content table p {
	margin: 0px;
}
/*link*/
.content a {
	color: #136eb0; text-decoration: none;
}
.content a:hover {
	text-decoration: underline;
}
/*list*/
.content ul,
.content ol {
	width: 100%;
	float: left;
	margin-bottom: 10px;
	list-style-position: inside;
}
.content ul {
	list-style: inside url(../images/li_dot.png);
}
.content li {
	padding: 10px 15px; margin-bottom: 10px;
	background: #FFF;
	-moz-box-shadow:0 1px 1px 0 #dadada; -webkit-box-shadow:0 1px 1px 0 #dadada; box-shadow:0 1px 1px 0 #dadada;
	behavior: url(plugins/pie/PIE.php);
}
/*table*/
.content table {
	width: 100%;
	margin-bottom: 20px;
	border-left: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3;
}
.content td {
	padding: 8px;
	background: #FFF; border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3;
	transition:all 0.2s ease-in; -webkit-transition:all 0.15s ease-in; -moz-transition:all 0.15s ease-in; -o-transition:all 0.15s ease-in;
}
.content td:hover {
	background: #f6fafc; border-bottom-color: #0b79c6;
}
table#manual_table,
table#academy_table  {
	border-top: none;
	margin: 0px;
}
table#academy_table {
	border-top: none;
}
table#academy_table thead td {
	font-size: 11px; font-weight: normal; line-height: normal;
}
.content thead td {
	background-color: #08ae69;
	color: #FFF; font-weight: bold;
}
.content thead td:hover {
	background-color: #40ca82; border-color: #08ae69;
}
/*--CONTENT END*/